
html {
    font-size: 10px;
    box-sizing: border-box;
    //max-width: 1600px;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    @extend %font-prim;
    @include font($size: 1.6rem, $height: 2.1rem);
}

h1 {
    @extend %font-prim;
    @include font($size: 1.9rem, $height: 2.3rem);
}

h2 {
    @extend %font-prim;
    @include font($size: 4.8rem, $height: 5.8rem);
    @media (max-width: 500px) { 
        @include font($size:2.4rem, $height:2.9rem);
    //     }
    // @include media-mobile {
    //     @include font($size:2.4rem, $height:2.9rem);
    }
}

h3 {
    @extend %font-prim;
    @include font($size: 3.6rem, $height: 4.7rem);
    @include media-mobile {
        @include font($size:2.4rem, $height:2.9rem);
    }
}

h4 {
    @extend %font-prim;
    @include font($size: 2.4rem, $height: 2.9rem);
}
