$color-default:#F9804B;
$color-additionaly:#FE9013;
$color-hover:#E47209;
$color-active:#4B9200;
$color-disabled:#767474;
$color-mistake:#D31414;
$color-black:#000000;
$color-yellow:#FFEE2E;
$color-white:#FFFFFF;
$color-icon:#C4C4C480;
$color-heading:#333B41;
$color-cards-background:#F1F3F2;
$color-cards-text:#767474;
$color-cards-status:#BDBDBD;
$color-orange-gradient:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-donation-background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-donation-border: linear-gradient(0deg, #F1F3F2, #F1F3F2),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-footer-background: #111115;
$color-hamburger: #FFFFFF;


$desktop-width:1600px;
$another-desktop-width: 1440px;
$content-width:1160px;
$small-desktop-width:1000px;
$ipad-width:768px;
$tablet-width:640px;
$small-tablet-width:600px;
$mobile-width:320px;


