.donation {
    background: $color-donation-background;
    opacity: 0.9;
    padding: 69px 0 99px;
    margin: 0 auto;
    @include media-small-desktop {
        padding: 30px 0 50px;
    }
    @include media-tablet {
        padding: 20px 0 20px;
    }
}

.donation__wrapper {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 41px 6% 99px;
   
   @include media-ipad {
    padding: 10px 20px 60px;
   }
    @include media-tablet {
        padding: 10px 20px 60px;
    }
    @include media-mobile {
        padding: 20px 0 40px;
    }
}

.pick-and-feed__title {
    text-align: center;
    margin: 0 auto 30px;
    color: $color-additionaly;
    @include media-tablet {
        @include font ($size:4.2rem, $height:5rem);
        margin: 0 auto 20px;
    }
    @include media-mobile {
        @include font ($size:2.4rem, $height:2.9rem);
        margin: 0 auto 10px;
    }
}

.pick-and-feed__content {
    color: $color-heading;
    & p:first-child {
        @include font ($size:2.4rem, $height:2.9rem);
        margin: 0 auto 40px;
        @include media-tablet {
            @include font ($size:2.2rem, $height:2.6rem);
        margin: 0 auto 20px;
        }
        @include media-mobile {
            @include font ($size:1.8rem, $height:2.2rem);
        margin: 0 auto 20px;
        text-align: center;
        }
    }
    & p:nth-child(2) {
        font-weight: 500;
        margin: 0 auto 10px;
        @include media-mobile {
            display: none;
        }
    }

    & p:nth-child(3) {
        max-width: 863px;
        margin: 0 0 60px;
        & a {
            color: $color-heading;
            border-bottom: 1px solid $color-additionaly;
            &:hover {
                color: $color-hover;
            }
            &:active {
                color: $color-active;
                border-bottom: 1px solid $color-active;
            }
        }
        @include media-tablet {
            margin: 0 0 30px;
        }
        @include media-mobile {
            display: none;
        }
    }
}

.how-it-works {
    margin-bottom: 60px;
    @include media-tablet {
        margin-bottom: 40px;
    }
    @include media-mobile {
        margin-bottom: 10px;
    }
}

.how-it-works__title {
    text-align: center;
    margin: 0 auto 40px;
    @include media-tablet {
        margin-bottom: 20px;
    }

}

.how-it-works__content {
    display: flex;
    justify-content: center;
    @include media-small-desktop {
        justify-content: space-between;
    }
    @include media-tablet {
        justify-content: space-between;
    }
    @include media-mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include small-tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
}

//Border gradient card

.how-it-works__card {
    position: relative;
    background-color: $color-white;
    width: 168px;
    height: 168px;
    border-radius: 5px;
    &::before {
    content: "";
    position: absolute;
     inset: 0;
    border-radius: 5px; 
    padding: 1px; 
    background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
    }
    
}
#card-pay, #card-zoo {
    
    @include media-ipad {
        &:after {
            position: absolute;
            z-index: 100;
            content: "";
            background-image: url(../icons/green-arrow.svg);
            background-repeat: no-repeat;
            width: 90px;
            height: 40px;
            top: -16px;
            right: -60px; 
            
          @include small-tablet {
            transform: rotate(0.25turn);
            top: 191px;
            right: -60px; 

          }
          @include media-mobile {
            transform: rotate(0.25turn);
            top: 191px;
            right: -60px; 
        }
        }
    }
}


.how-it-works__card, .how-it-works__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works__text {
    max-width: 168px;
    margin: 30px 0 0;
    @include small-tablet {
        margin: 10px 0 29px;
    }
    @include media-mobile {
        margin: 10px 0 29px;
    }
}

.how-it-works__arrow {
    padding: 0 30px 72px 31px;
    @include media-small-desktop {
        padding: 0 0 72px;
        // display: none;
    }
    @include media-ipad {
        display: none;
    }
}

.how-it-works__button {
    display: flex;
    justify-content: center;
}